*.iws
*.tfstate
*.tfstate.backup
.idea
.idea/**/mongoSettings.xml
.idea_modules/
.terraform
__pycache__
__pycache__/*
atlassian-ide-plugin.xml
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
examples/from_scratch/
fabric.properties
helm.astronomer.io
helm.astronomer.io/*
kubeconfig
out/
terraform.tfvars
